{% extends "base.html" %}
{% block main_content %}
<link rel="stylesheet" href="{{ static('css/dm_dashboard.css') }}" />

<div class="wrapper wrapper-content animated fadeInRight">
    <link rel="stylesheet" href="{{ static('bower/leaflet/dist/leaflet.css') }}" />

    <div class="row">
        <div class="col-lg-2">
            <div class="">
                <div class="row vertical-align m-b-md">
                    <a href="profile.html" class="text-center">
                        <img alt="image" class="img-circle" src="static/img/county_logo.png" id='county_logo' />
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-content  text-center">
                    <h1>Bi-weekly Syndromic Surveilance Bulletin</h1>
                    <h3>Turkana County</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-2 text-center">
            <div class="">
                <h2 class="m-xs">{{ today_f }}</h2>
                <h4 class="m-xs">{{ report_no }} Bi-weekly Report</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="widget yellow-bg p-lg text-center">
                <div class="row vertical-align m-b-md">
                    <div class="col-xs-3">
                        <i class="fa fa-warning fa-4x"></i>
                        <h1 class="m-xs">Warning</h1>
                    </div>
                    <div class="col-xs-9 text-right">
                        <h3 class="font-bold no-margins">General Overview</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Bulletin Overview</h5>
                </div>
                <div class="ibox-content">
                    <p>The Department of Veterinary Services, in collaboration of the AVCD-LVC project, has been conducting syndromic surveillance to determine the incidence and mortality rates of a range of livestock diseases throughout the county.</p>
                    <p>This bulletin summarises records made in the <strong>last two weeks</strong>. This includes an analysis on the frequenctly reported syndromes, suspected diseases associated with these syndromes and morbidity and mortality rates, by species.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Cattle Syndromes</h5>
                    <span class="pull-right text-right">
                        <small>The common reported syndromes for the <strong>last 2 weeks</strong></small>
                    </span>
                </div>
                <div class="ibox-content">
                    <div id='cattle_syndromes'></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Small Ruminant Syndromes</h5>
                    <span class="pull-right text-right">
                        <small>Common syndromes in the <strong>last 2 weeks</strong></small>
                    </span>
                </div>
                <div class="ibox-content">
                    <div id='small_ruminants_syndromes'></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins all_reports">
                <div class="ibox-content text-center">
                    <h2><i class="fa fa-chevron-left"> </i>  A breakdown of all reports received so far</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title"><strong>Turkana North</strong></div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sc.turkana_north }}</h2>
                            <div class="font-bold text-navy"><small>Reports</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sick.turkana_north }}</h2>
                            <div class="font-bold text-navy"><small>Incidences</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.dead.turkana_north }}</h2>
                            <div class="font-bold text-navy"><small>Mortalities</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title"><strong>Turkana East</strong></div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sc.turkana_east }}</h2>
                            <div class="font-bold text-navy"><small>Reports</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sick.turkana_east }}</h2>
                            <div class="font-bold text-navy"><small>Incidences</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.dead.turkana_east }}</h2>
                            <div class="font-bold text-navy"><small>Mortalities</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title"><strong>Turkana South</strong></div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sc.turkana_south }}</h2>
                            <div class="font-bold text-navy"><small>Reports</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sick.turkana_south }}</h2>
                            <div class="font-bold text-navy"><small>Incidences</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.dead.turkana_south }}</h2>
                            <div class="font-bold text-navy"><small>Mortalities</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title"><strong>Turkana West</strong></div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sc.turkana_west }}</h2>
                            <div class="font-bold text-navy"><small>Reports</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sick.turkana_west }}</h2>
                            <div class="font-bold text-navy"><small>Incidences</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.dead.turkana_west }}</h2>
                            <div class="font-bold text-navy"><small>Mortalities</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title"><strong>Turkana Central</strong></div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sc.turkana_central }}</h2>
                            <div class="font-bold text-navy"><small>Reports</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sick.turkana_central }}</h2>
                            <div class="font-bold text-navy"><small>Incidences</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.dead.turkana_central }}</h2>
                            <div class="font-bold text-navy"><small>Mortalities</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title"><strong>Loima</strong></div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sc.loima }}</h2>
                            <div class="font-bold text-navy"><small>Reports</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sick.loima }}</h2>
                            <div class="font-bold text-navy"><small>Incidences</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.dead.loima }}</h2>
                            <div class="font-bold text-navy"><small>Mortalities</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-title"><strong>Kibish</strong></div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sc.kibish }}</h2>
                            <div class="font-bold text-navy"><small>Reports</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.sick.kibish }}</h2>
                            <div class="font-bold text-navy"><small>Incidences</small></div>
                        </div>
                        <div class="col-md-4">
                            <h2 class="no-margins">{{ data.dead.kibish }}</h2>
                            <div class="font-bold text-navy"><small>Mortalities</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Suspected Cattle Diseases</h5>
                    <span class="pull-right text-right">
                        <small>Suspected diseases in the <strong>last 2 weeks</strong></small>
                    </span>
                </div>
                <div class="ibox-content">
                    <div id='cattle_diseases'></div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Suspected Small Ruminant Diseases</h5>
                    <span class="pull-right text-right">
                        <small>Reported diseases in the <strong>last 2 weeks</strong></small>
                    </span>
                </div>
                <div class="ibox-content">
                    <div id='small_ruminants_diseases'></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Morbidity and Mortality Trends</h5>
                    <span class="pull-right text-right">
                        <small>Morbidity and Mortality in the <strong>last 2 weeks</strong></small>
                    </span>
                </div>
                <div class="ibox-content">
                    <canvas id='morbidity_mortality'></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-footer">
                    <div class="row">
                        <div class="col-lg-6">
                            This bi-weekly bulletin has been designed and developed by the implementing partners of the AVCD-LC program with support from the USAID. Badili Innovations is the technology consultant for the program.
                        </div>
                        <div class="col-lg-6">
                            <div class="feed-element">
                                <a href="profile.html" class="">
                                    <img alt="image" class='footer_image' src="static/img/marsabit_logo.png" />
                                </a>
                                <a href="profile.html" class="">
                                    <img class='footer_image' src="{{ static('img/usaid.png') }}" />
                                </a>
                                <a href="profile.html" class="">
                                    <img class='footer_image' src="{{ static('img/feed-the-future-logo.jpg') }}" />
                                </a>
                                <a href="httpsL//badili.co.ke" class="" target='_blank'>
                                    <img class='footer_image' src="{{ static('img/badili_full.jpg') }}" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src="{{ static('bower/heatmap/build/heatmap.min.js') }}"></script>
    <script type='text/javascript' src="{{ static('bower/leaflet/dist/leaflet.js') }}"></script>
    <script type='text/javascript' src="{{ static('bower/heatmap/plugins/leaflet-heatmap/leaflet-heatmap.js') }}"></script>
    <script type='text/javascript' src="{{ static('bower/d3/d3.min.js') }}"></script>
    <script type='text/javascript' src="{{ static('bower/d3-cloud/build/d3.layout.cloud.js') }}"></script>
    <script type='text/javascript' src="{{ static('bower/chartjs/dist/Chart.min.js') }}"></script>
    <script type='text/javascript' src="{{ static('js/dm_dashboard.js') }}"></script>

    <script>
        window.onload = function(){
            dash.data = {{ data | safe }};
            dash.r_period = '{{ r_period | safe }}';
            dash.initiateBiweeklyReport();
            // dash.initiateIncidentsMap();
        };
    </script>
</div>

{% endblock %}
