{% extends "base_dashboard.html" %}
{% block dash_content %}

<div class="wrapper wrapper-content animated fadeInRight">
    <link rel="stylesheet" href="{{ static('bower/leaflet/dist/leaflet.css') }}" />

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Reporting Period</h5>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-xs btn-white reporting_period past_week" data-period='past_week'>Last Week</button>
                            <button type="button" class="btn btn-xs btn-white reporting_period past_month" data-period='past_month'>Past Month</button>
                            <button type="button" class="btn btn-xs btn-white reporting_period past_3mo" data-period='past_3mo'>3 Months</button>
                            <button type="button" class="btn btn-xs btn-white reporting_period past_6mo" data-period='past_6mo'>6 Months</button>
                        </div>
                    </div>
                </div>
                <div class="ibox-content text-center">
                    <h2><i class="fa fa-chevron-left"> </i>  Last week reports ({{ period_narrative }})</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">No of Reports</h5>
                    <h1 class="no-margins">{{ data.last_week.reports_count }}</h1>
                    <small>Total reports received</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">No of Incidences</h5>
                    <h1 class="no-margins">{{ data.last_week.incidences_count }}</h1>
                    <small>Total no of cases reported</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">No of sub counties with reports</h5>
                    <h1 class="no-margins">{{ data.last_week.sub_counties_count }}</h1>
                    <small>No of sub counties reporting</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">No of CDRs reporting</h5>
                    <h1 class="no-margins">{{ data.last_week.cdrs_reporting }}</h1>
                    <small>No CDRs reporting</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center">
                    <h2><i class="fa fa-chevron-left"> </i>  Reporting Sub Counties ({{ period_narrative }})</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Turkana Central</h5>
                    <h1 class="no-margins">{{ data.sc.turkana_central }}</h1>
                    <small>Total received reports</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Turkana North</h5>
                    <h1 class="no-margins">{{ data.sc.turkana_north }}</h1>
                    <small>Total received reports</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Turkana South</h5>
                    <h1 class="no-margins">{{ data.sc.turkana_south }}</h1>
                    <small>Total received reports</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Turkana West</h5>
                    <h1 class="no-margins">{{ data.sc.turkana_west }}</h1>
                    <small>Total received incidences</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Turkana East</h5>
                    <h1 class="no-margins">{{ data.sc.turkana_east }}</h1>
                    <small>Total received incidences</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Loima</h5>
                    <h1 class="no-margins">{{ data.sc.loima }}</h1>
                    <small>Total received incidences</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Kibish</h5>
                    <h1 class="no-margins">{{ data.sc.kibish }}</h1>
                    <small>Total received incidences</small>
                </div>
            </div>
        </div>
    </div>

    <!-- div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content text-center">
                    <h2><i class="fa fa-line-chart"> </i>  Incidences Trends</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">Incidences last week</h5>
                    <h1 class="no-margins">{{ data.incidences.count }}</h1>
                    <div class="stat-percent font-bold text-danger">{{ data.incidences.last_week_change }}% <i class="fa {{ data.incidences.last_week_change_class }}"></i></div>
                    <small>Incidences recorded last week</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">No of species affected</h5>
                    <h1 class="no-margins">{{ data.incidences.species_count }}</h1>
                    <div class="stat-percent font-bold text-danger">{{ data.incidences.last_week_species_change }}% <i class="fa {{ data.incidences.last_week_species_change_class }}"></i></div>
                    <small>No of species affected</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">No of sub counties affected</h5>
                    <h1 class="no-margins">{{ data.incidences.sub_counties_count }}</h1>
                    <div class="stat-percent font-bold text-danger">{{ data.incidences.last_week_subcounties_change }}% <i class="fa {{ data.incidences.last_week_subcounties_change_class }}"></i></div>
                    <small>No of sub counties affected</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox">
                <div class="ibox-content">
                    <h5 class="m-b-md">No of Vets reporting</h5>
                    <h1 class="no-margins">{{ data.incidences.vets_reporting }}</h1>
                    <div class="stat-percent font-bold text-danger">{{ data.incidences.last_week_vet_change }}% <i class="fa {{ data.incidences.last_week_vet_change_class }}"></i></div>
                    <small>No vets sending reports</small>
                </div>
            </div>
        </div>
    </div -->

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Common reported syndromes</h5>
                </div>
                <div class="ibox-content">
                    <div id='week_syndromes'></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Common reported syndromes</h5>
                </div>
                <div class="ibox-content">
                    <div id='month_syndromes'></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">Cattle Trends</div>
                <div class="ibox-content">
                    <canvas id='cattle_incidences' width="400" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">Sheep Trends</div>
                <div class="ibox-content">
                    <canvas id='sheep_incidences' width="400" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">Goats Trends</div>
                <div class="ibox-content">
                    <canvas id='goat_incidences' width="400" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">Camel Trends</div>
                <div class="ibox-content">
                    <canvas id='camel_incidences' width="400" height="150"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Incidence places <small>Where the reports are coming from</small></h5>
                </div>
                <div class="ibox-content">
                    <div id="reporting_map"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Fatalities places <small>Where there were motalities</small></h5>
                </div>
                <div class="ibox-content">
                    <div id="fatalities_map"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <h5>List of reported cases</h5>
                    <div class="reporting_table"></div>
                </div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src="{{ static('bower/heatmap/build/heatmap.min.js') }}"></script>
    <script type='text/javascript' src="{{ static('bower/leaflet/dist/leaflet.js') }}"></script>
    <script type='text/javascript' src="{{ static('bower/heatmap/plugins/leaflet-heatmap/leaflet-heatmap.js') }}"></script>
    <script type='text/javascript' src="{{ static('bower/d3/d3.min.js') }}"></script>
    <script type='text/javascript' src="{{ static('bower/d3-cloud/build/d3.layout.cloud.js') }}"></script>
    <script type='text/javascript' src="{{ static('js/dm_dashboard.js') }}"></script>

    <script>
        window.onload = function(){
            dash.data = {{ data | safe }};
            dash.r_period = '{{ r_period | safe }}';
            dash.initiateDashHome();
            dash.initiateIncidentsMap();
        };
    </script>
</div>

{% endblock %}
