<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Turkana - Syndromic Surveillance System for Livestock Diseases (S3LD)</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}" />

    <!-- Animation CSS -->
    <link rel="stylesheet" href="{{ static('css/animate.css') }}" />
    <link rel="stylesheet" href="{{ static('font-awesome/css/font-awesome.min.css') }}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ static('css/style.css') }}" />
    <link rel="stylesheet" href="{{ static('css/dm_dashboard.css') }}" />

    <script type='text/javascript' src="{{ static('bower/jquery/dist/jquery.min.js') }}"></script>
    <script type='text/javascript' src="{{ static('bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</head>
<body id="page-top" class="landing-page">
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="dashboard">View Dashboard</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Features</a></li>
                        <li><a class="page-scroll" href="#team">Team</a></li>
                        <li><a class="page-scroll" href="#testimonials">Testimonials</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Turkana <span style="color: orange;">Syndromic Surveillance<br/>
                        System</span> for Livestock Diseases (S3LD)</h1>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
                    </p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <!-- div class="carousel-caption blank">
                    <h1>Beautiful <br/> dashboards that inspire.</h1>
                    <p>A simple and user friendly dashboard</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div -->
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back two"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Disease Trends</h2>
            <p>View and analyse syndromic disease trends to guide in making data driven decisions. With a disease trend dashboard, visualize the syndromic patterns.</p>
        </div>
        <div class="col-sm-3">
            <h2>Risk Maps</h2>
            <p>Using data from different sources (collected from the field or the meteorological department) generate risk maps that inform of possible risk areas </p>
        </div>
        <div class="col-sm-3">
            <h2>Live Data</h2>
            <p>Analyse and monitor syndromic disease reports from the field in a real time. Data that is recorded from the field is automatically analysed and plotted to show areas of risk</p>
        </div>
        <div class="col-sm-3">
            <h2>Easy Access</h2>
            <p>The S3LD is web based making it available from anywhere. Access is only granted to users with a valid username and password</p>
        </div>
    </div>
</section>

<section  class="container features">
</section>

<section id="donors" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Donors</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="partner_logo usaid">
                    <img src="{{ static('img/feed-the-future-logo.jpg') }}" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="partner_logo marsabit">
                    <img src="{{ static('img/usaid.png') }}" />
                </div>
            </div>

        </div>
    </div>
</section>

<section id="team" class="gray-section team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Management Committee</h1>
                <p>The management committee of S3LD is tasked with ensuring the success of S3LD</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-sm-6 col-sm-offset-3 ">
                <div class="team-member wow zoomIn">
                    <!-- img src="static/img/simplice_nouala.png" class="img-responsive img-circle" alt="" -->
                    <h3>
                        <span class="navy">Dr. Benson</span> Etelej Long'or<br />
                        <small>Chairman of the management committee</small>
                    </h3>
                    <p>Dr. Long'or is the County DVS and the custodian of the S3LD system in Turkana County</p>
                </div>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-sm-3 wow fadeInLeft">
                <div class="team-member">
                    <!-- img src="static/img/edward_musiwa.png" class="img-responsive img-circle img-small" alt="" -->
                    <h4>
                        <span class="navy">Dr. Erenius</span> Nakadio<br />
                        <small>Member of the management committee</small>
                    </h4>
                    <p>Dr. Erenius is the veterinary officer in charge of disease and vector control and focal person in the implementation of the S3LD</p>
                </div>
            </div>

            <div class="col-sm-3 wow fadeInRight">
                <div class="team-member">
                    <!-- img src="static/img/mary_mbole.png" class="img-responsive img-circle img-small" alt="" -->
                    <h4>
                        <span class="navy">Echuman</span> Koriang<br />
                        <small>Member of the management committee</small>
                    </h4>
                    <p>Echuman Koriang is the ICT Director in Turkana County</p>
                </div>
            </div>
            
            <div class="col-sm-3 wow fadeInRight">
                <div class="team-member">
                    <!-- img src="static/img/edward_musiwa.png" class="img-responsive img-circle img-small" alt="" -->
                    <h4>
                        <span class="navy">Emase</span> Joseph<br />
                        <small>Member of the management committee</small>
                    </h4>
                    <p>Emase is the e-surveillance officer tasked with the day to day support of the system, at the department of Veterinary Services</p>
                </div>
            </div>

            <div class="col-sm-3 wow fadeInLeft">
                <div class="team-member">
                    <!-- img src="static/img/edward_musiwa.png" class="img-responsive img-circle img-small" alt="" -->
                    <h4>
                        <span class="navy">Dr. Viola</span> Chemis<br />
                        <small>Member of the management committee</small>
                    </h4>
                    <p>Dr. Viola is the field coordinator of the AVCD project in Turkana county and a focal person in the implementation of the S3LD</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features">

</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow zoomIn">
                <i class="fa fa-comment big-icon"></i>
                <h1>
                    Feedback from the users
                </h1>
                <div class="testimonials-text">
                    <i>"The S3LD system is an empowering system in that it is fully owned by the Turkana County and has been designed uniquely for the County. The system goes a long way in creating central repository for the different livestock data being collected in the County thereby creating a unique resource for the Agriculture Livestock and Fisheries department."</i>
                </div><br />
                <medium>
                    <strong>16.05.2017 - Dr. Boku Bodha</strong>
                </medium>
            </div>
        </div>
    </div>
</section>

<section id="partners" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Implementing Partners</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="partner_logo marsabit">
                    <img src="{{ static('img/county_logo.png') }}" style="width: 166px; margin-top:23px;" />
                </div>
            </div>

            <div class="col-lg-4">
                <div class="partner_logo dvs">
                    <img src="{{ static('img/dvs.png') }}" />
                </div>
            </div>

            <div class="col-lg-4">
                <div class="partner_logo ilri">
                    <img src="{{ static('img/ilri.jpg') }}" />
                </div>
            </div>

        </div>
    </div>

</section>

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>For more information please contact</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-1">
                <address>
                    <strong><span class="navy">Dr. Benson Long'or</span></strong><br/>
                    Agriculture Livestock & Fisheries<br/>
                    Turkana County<br/>
                    <span><abbr title="Email">e:</abbr> benson.longor[at]turkana[dot]go[dot]ke</span>
                </address>
                <address>
                    <strong><span class="navy">Echuman Koriang</span></strong><br/>
                    ICT Department<br/>
                    Turkana County<br/>
                    <span><abbr title="Email">e:</abbr> echuman.koriang[at]turkana[dot]go[dot]ke</span>
                </address>
            </div>
            <div class="col-lg-3">
                <address>
                    <strong><span class="navy">Dr. Viola Chemis</span></strong><br/>
                    AVCD Field Coordinator<br/>
                    Turkana County<br/>
                    <abbr title="Email">e:</abbr> v[dot]chemis[at]cgiar[dot]org
                </address>
                <address>
                    <strong><span class="navy">Emase Joseph</span></strong><br/>
                    Electronic Surveillance Officer<br/>
                    Turkana County<br/>
                    <abbr title="Email">e:</abbr> emasejosef[at]gmail[dot]com
                </address>
            </div>
            <div class="col-lg-4 col-lg-offset-0">
                <h4><strong><span class="navy">About AVCD</span></strong></h4>
                <p class="text-color">
                    The Feed the Future Kenya Accelerated Value Chain Development program seeks to widely apply technologies and innovations for selected value chains in order to competitively and sustainably increase productivity, contributing to inclusive agricultural growth, nutrition and food security in the country. The program’s main goal is to sustainably reduce poverty and hunger in the Feed the Future zones of influence in Kenya.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>
                    Developed by <a href="https://badili.co.ke">Badili Innovations</a>, +254 715 803404<br/>
                    creating value through innovation
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Mainly scripts -->
<script type='text/javascript' src="{{ static('bower/jquery/dist/jquery.min.js') }}"></script>

<script type='text/javascript' src="{{ static('js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script type='text/javascript' src="{{ static('js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

<!-- Custom and plugin javascript -->
<script type='text/javascript' src="{{ static('js/inspinia.js') }}"></script>
<script type='text/javascript' src="{{ static('js/plugins/pace/pace.min.js') }}"></script>
<script type='text/javascript' src="{{ static('js/plugins/wow/wow.min.js') }}"></script>


<script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

</body>
</html>
