{% extends "base.html" %}
{% block main_content %}
    <div class="loginColumns animated fadeInDown">
        <div class="row">

            <div class="col-md-6">
                <h2 class="font-bold">Welcome to Turkana SDSS</h2>

                <p>
                    A live and dynamic system for syndromic disease surveilance
                </p>

                <p>
                    S3LD has been developed to support Turkana County’s animal health department with the collection, collation and analysis of animal health syndromes, disease outbreaks, and other related conditions like observations from meat inspection in the local slaughter slabs or abattoirs.
                </p>

                <p>
                    The system automatically analyses data as it is received and generates trends in tables, maps or graphs of syndromic occurrences which can be used by the County's veterinarians to target interventions in space and time.
                </p>

            </div>

            <div class="col-md-6">
                <div class="ibox-content">
                     {% if error %}
                        <div><span style="color: red;">[{{ error }}]</span></div>
                    {% endif %}
                    <form action="" method="POST" name="login" class="m-t" role="form">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                        <div class="form-group">
                            <input type="username" name="username" class="form-control" placeholder="Username" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" name="pass" class="form-control" placeholder="Password" required="">
                        </div>
                        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                        <a href="#">
                            <small>Forgot password?</small>
                        </a>
                    </form>
                    <p class="m-t">
                        <small>Turkana Syndromic Disease Surveillance System</small>
                    </p>
                </div>
            </div>
        </div>
        <hr/>
    </div>

{% endblock %}
