<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Turkana S3LD | Under Review</title>

    <link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ static('font-awesome/css/font-awesome.min.css') }}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ static('css/style.css') }}" />
    <link rel="stylesheet" href="{{ static('css/animate.css') }}" />

</head>

<body class="gray-bg">
    <div class="middle-box text-center animated fadeInDown">
        <h1 style="font-size: 80px;"><strong>Under Review</strong></h1>
        <h4 class="font-bold">Tightening the bolts and nuts</h4><br />

        <div class="error-desc">
            Sorry, but the Syndromic Surveillance System for Livestock Diseases (S3LD) is under review by the implementing partners. <br /><br />Please check again from <strong><span class="navy">19th May 2017</span></strong> when it will go live.<br /><br />
            If you have a username and password, please proceed to log in and review the system.
        </div>
        <br /><br />
        <div class="landing-page">
            <div class="navbar-default">
                <a href="login"><button class="btn btn-primary btn-lg">Dashboard Login</button></a>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>
                    Designed and Developed by <a href="https://badili.co.ke">Badili Innovations</a>, +254 715 803404<br/>
                    creating value through innovation
                </p>
            </div>
        </div>

    <!-- Mainly scripts -->
    <script type='text/javascript' src="{{ static('bower/jquery/dist/jquery.min.js') }}"></script>
    <script type='text/javascript' src="{{ static('bower/bootstrap/dist/js/bootstrap.min.js') }}"></script>

</body>

</html>
