body { margin: 0;   padding: 0;  min-width: 900px; }

#dashboard #forms{ float: left; width: 80%; margin-left: 10px; }
#form_structure{ min-height: 560px; }
#forms #all_forms{ margin: 5px 0px; }

#dashboard #buttons{ float: left; width: 15%; margin-left: 10px; text-align: center; }
#buttons button{ margin: 5px;}

#dashboard #models{ width: 30%; margin-left: 60%; border: 1px dotted black; display: none; }

#models #destination{ width: 95px; margin: 5px; }

.no_border{ border: none; }

.breadcrumb_ol{ margin-top: 10px; color: #888888; }

/* provides a red astrix to denote required fields - this should be included in common stylesheet */
.form-group.required .control-label:after { content:"*"; color:red; margin-left: 4px; }

#reporting_map{ height: 700px; }

.landing-page .header-back.one {
  background: url('../img/banner.jpg') 50% 0 no-repeat;
}

.landing-page .header-back.two {
  background: url('../img/sheep.jpg') 50% 0 no-repeat;
}

.partner_logo{ text-align: center; }

#partners .usaid{ margin-top: 20%; }

.footer_image{ height: 40px; }


#county_logo{ width: 160px; }
#cattle_diseases, #small_ruminants_diseases, #small_ruminants_syndromes, #cattle_syndromes{ height: 150px; width: 450px; }
.all_reports{ margin-bottom: 0px; }
